



h1{
    text-align:center
}

  .center {
    display: table-cell;
    vertical-align: middle;
  }
  

body{
    margin: 0;
}
.wrap{
    margin:0 auto;
}
a{
    font-size: 35px;
    color: black;
}



tr{
    font-size: 50px;

}

 .首頁{
    font-family:微軟正黑體;
     color: orange;
     font-weight:bold;
 }
 .color-lump{
    width: 1500px;
    height: 40px;
    background-color:orange;
}
